<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bs/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <!-- Tilføj dit indhold under denne linie -->



    <main class="container-fluid">
        <!--NAVIGATION-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img src="/img/banner/Banner_nav.png" alt="" class="navbanner">

            <a class="navbar-brand" href="index.html"><img src="img/banner/Banner_logo.png" alt="Fremsodavand" class="fremlogo"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <ul class="navbar-nav ml-auto">
                    <!--"ml-auto" betyder margin left auto-->
                    <li class="nav-item active">
                        <a class="nav-link" href="#intro">Historie <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Din fremvand
        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#samesame">Klar til kamp</a>
                            <a class="dropdown-item" href="#hero">Klar til film</a>
                            <a class="dropdown-item" href="voresis">Klar til fødselsdag</a>

                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!--NAVIGATION-->

        <!--HEADER SPLASH-->

        <div class="carousel-item">
            <img src="img/P1000252.JPG" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Alle på stribe drikker frem fra Ribe</h5>
            </div>
        </div>

        <div class="container-fluid">
            <div class="jumbotron-fluid">

                <img src="img/P1000252.JPG" alt="" class="splash">
            </div>
        </div>

        <section id="intro">


            <p></p>
            <p class="slogan display-3 text-center">Alle på stribe drikker frem fra Ribe</p>
            <img src="" alt="" class="animation">
        </section>
        <!--HEADER SPLASH-->
        <section id="sport" class="row fullpage-layout">
            <img src="/img/banner/Banner_01.png" alt="" class="sportbanner h-50">
            <img src="img/IMG_20180927_150144.jpg" alt="" class="sportbillede col-6 h-50">
            <p class="col-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui praesentium rerum commodi, delectus quisquam ullam animi! Blanditiis molestias minima laudantium consequuntur, dolor, quas ullam qui soluta similique. Nihil, nisi, aspernatur!</p>
            <div class="embed-responsive embed-responsive-16by9 col-6 mx-auto">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
            <img src="" alt="" class="kamp">
            <p></p>
            <img src="" alt="" class="banner">
            <img src="" alt="" class="kampprogram">
        </section>

        <section id="hygge">
            <img src="/img/banner/Banner_02.png" alt="" class="sportbanner" r>
            <img src="" alt="" class="random">
            <p></p>
            <div class="embed-responsive embed-responsive-16by9 col-6 mx-auto">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Y7HCl2kJ2dA" allowfullscreen></iframe>
            </div>

            <div class="row mt-5 mr-5">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="img/bw_billeder/delorean_bw.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-text ">Gæt hvilken film dette er:</h4>
                    </div>


                    <button type="button" id="btnwrong" class="btn btn-primary" ng-click="levelCD()">Chiefdom</button>
                    <button type="button" id="btncorrect" class="btn btn-primary" ng-click="levelD()">District </button>
                    <button type="button" id="btnwrong" class="btn btn-primary" ng-click="levelF()">Facility </button>

                </div>





                <div class="sw_billede1 col-3 pl-5 pt-3">
                    <img src="img/bw_billeder/delorean_bw.png" alt="Fremsodavand">
                </div>
                <div class="sw_billede1 col-3">
                    <img src="img/bw_billeder/indiana_jones_bw-01.png" alt="Fremsodavand">
                </div>
                <div class="sw_billede1 col-3 pt-3">
                    <img src="img/bw_billeder/kill_bill_bw.png" alt="Fremsodavand">
                </div>
                <div class="sw_billede1 col-3">
                    <img src="img/bw_billeder/lion_king_bw.png" alt="Fremsodavand">
                </div>
                <div class="sw_billede1 col-3 my-3 pr-3 offset-2">
                    <img src="img/bw_billeder/pulp_fiction_bw-01-01.png" alt="Fremsodavand">
                </div>
                <div class="sw_billede1 col-3 my-3 pr-3 pt-3">
                    <img src="img/bw_billeder/star_wars_bw.png" alt="Fremsodavand">
                </div>
                <div class="sw_billede1 col-3 my-3 pr-3">
                    <img src="img/bw_billeder/rocky_bw.png" alt="Fremsodavand">
                </div>

            </div>

        </section>

        <section id="familie">
            <img src="" alt="" class="random2">
            <p></p>
            <div class="embed-responsive embed-responsive-16by9 col-6 mx-auto">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>

        </section>

        <section class="instagram">

            <img src="/img/banner/Banner_03.png" alt="" class="sportbanner">

            <div class="row pt-5">


                <!-- Button trigger modal -->
                <div class="col-3 ml-5 pb-3 mt-3 h-auto" data-toggle="modal" data-target="#exampleModal">
                    <img src="img/instagrambilleder/insta1_crop.png" alt="" class="insta1">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <img src="img/instagrambilleder/insta1.png" alt="Fremsodavand">
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Button trigger modal -->
                <div class="col-3 ml-5 pb-3 mt-3 h-auto" data-toggle="modal" data-target="#exampleModal">
                    <img src="img/instagrambilleder/insta2_crop.png" alt="" class="insta1">
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <img src="img/instagrambilleder/insta2.png" alt="Fremsodavand">
                            </div>
                        </div>
                    </div>
                </div>





                <div class="col-3">
                    <img src="img/instagrambilleder/insta3_crop.png" alt="" class="insta1">
                </div>
                <div class="col-3">
                    <img src="img/instagrambilleder/insta4_crop.png" alt="" class="insta1">
                </div>
                <div class="col-3 pt-3">
                    <img src="img/instagrambilleder/insta5_crop.png" alt="" class="insta1">
                </div>
                <div class="col-3 pt-3">
                    <img src="img/instagrambilleder/insta6_crop.png" alt="" class="insta1">
                </div>
                <div class="col-3 pt-3">
                    <img src="img/instagrambilleder/insta7_crop.png" alt="" class="insta1">
                </div>
                <div class="col-3 pt-3 offset-1">
                    <img src="img/instagrambilleder/insta8_crop.png" alt="" class="insta1">
                </div>
                <div class="col-3 pt-3">
                    <img src="img/instagrambilleder/insta9_crop.png" alt="" class="insta1">
                </div>
                <div class="col-3 pt-3">
                    <img src="img/instagrambilleder/insta10_crop.png" alt="" class="insta1">
                </div>
            </div>

        </section>

    </main>


    <!-- Ikke mere indhold efter denne linie -->

    <!-- jQuery og popper.js inkluderinger herunder - nødvendigt for Bootstrap  - slet dem ikke-->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="bs/js/bootstrap.min.js"></script>
    <script>
        var navMain = $(".navbar-collapse"); // avoid dependency on #id
        // "a:not([data-toggle])" - to avoid issues caused
        // when you have dropdown inside navbar
        navMain.on("click", "a:not([data-toggle])", null, function() {
            navMain.collapse('hide');
        });

    </script>

    <script>
        $("#btncorrect").click(function() {
            $("#btncorrect").removeClass("active");
            $(this).addClass("active");
        });

    </script>
    <script>
        $("#btnwrong2").click(function() {
            $("#btnwrong2").removeClass("active2");
            $(this).addClass("active2");
        });

    </script>
    <!--
<script>
    $("#btnwrong").click(function() {
        $("#btnwrong").removeClass("active2");
        $(this).addClass("active2");
    });
</script>-->
    <script>
        ScrollReveal().reveal('#intro')
        ScrollReveal().reveal('#hygge', {
            delay: 500
        })
        ScrollReveal().reveal('#sport', {
            delay: 2000
        })
        ScrollReveal().reveal('#familie', {
            delay: 500
        })

    </script>
</body>

</html>
