/*Style.css - til dine custom styles*/

body {
    background-color: rgb(232, 219, 215);
}

img {
    width: 100%;
}

#voresis {
    text-align: center;
}

#voresis .col-xs-12 {
    margin-bottom: 2em;
}

#tilbud div {
    margin-bottom: 2em;
}

section {
    padding: 2em 0;
}

#intro {
    background-color: #8f1c25;
}

#sport {
    background-color: #a7d9e1;
}

#hygge {
    background-color: #e43310;
}

#familie {
    background-color: #bfd252;
}

.slogan {
    top: -600px;
    position: relative;
    background-color: rgba(226, 231, 236, 0.4);
}
