/*Style.css - til dine custom styles*/

/*GENERAL SETTINGS*/

body {
    /*    #E2DDD2*/
    background-color: rgba(226, 221, 210, 0.8);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all 200ms ease-in;
}

html {}

img {
    width: 100%;
}

.container-fluid {
    padding: 0;
    padding-right: 0px;
}

.row {
    margin: 0;
}

.scrollup {
    position: fixed;
    bottom: -9px;
    right: -1px;
    margin: 4vw;
    border: none;
    width: 30px;
    height: 30px;
    transition: all 200ms ease-in;
    opacity: 0.8;
    transform: scale(1);
}

.scrollup:hover {
    transition: all 200ms ease-in;
    opacity: 0.8;
    transform: scale(1.2);
}

.page-footer {
    font-size: calc(0.3em + 0.5vw);
}

/*GENERAL SETTINGS*/

/*FONTS*/

h1 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.5em + 2vw);

}

/*FONTS*/

/*MEDIA QUERIES*/

.header {
    position: relative;
    min-height: 30px;
    z-index: 3;
}

.header::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -28px;
    z-index: 2;
    height: 42px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.bg-light {
    background-color: rgb(232, 219, 215)!important;
}

.navbar {
    width: 100%;
    padding: 0px;
    background-color: rgb(232, 219, 215);

}

.navbanner {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgb(232, 219, 215);
}

.navbar-toggler {
    position: absolute;
    text-align: right;
    margin-top: 2.5vw;
    top: 0;
    right: 2.5vw;
    font-size: 1rem;
    font-size: calc(0.2em + 2vw);
    padding: 0.15rem 0.25rem;
}


.navbar-collapse {
    position: relative;
    top: 2vw;
    background-color: rgb(232, 219, 215);
}


.fremlogo {
    position: relative;
    width: 90%;
}

.fremkasser {
    position: relative;
    width: 100%;
    left: -26vw;
    top: 2vw;
    z-index: 10;
}

.animation {
    width: 12%;
    position: absolute;
    left: 64vw;
    top: 2vw;
    z-index: 20;
}



/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {

    .scrollup {
        bottom: -20px;
        right: -10px;
        margin: 4vw;
        width: 50px;
        height: 50px;
    }


    .page-footer {
        font-size: calc(0.3em + 1vw);
    }
    .navbar-toggler {
        margin-top: 2.8vw;
        top: 0;
        right: 2.5vw;
        font-size: calc(0.4em + 2vw);
    }

    .navbar-collapse {
        position: relative;
        top: -1vw;
        background-color: rgb(232, 219, 215);
    }
    .fremlogo {
        width: 100%;
    }
    .fremkasser {
        position: relative;
        width: 100%;
        left: -35vw;
        z-index: 10;

    }

    .animation {
        width: 13%;
        position: absolute;
        z-index: 20;
        left: 56vw;
        top: 6vw;
    }


}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {

    .scrollup {
        bottom: -20px;
        right: -10px;
        margin: 4vw;
        width: 50px;
        height: 50px;
    }
    .navbar-toggler {
        margin-top: 2.8vw;
        top: 0;
        right: 2.5vw;
        font-size: calc(0.1em + 2vw);

    }
}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .scrollup {
        bottom: -20px;
        right: -10px;
        margin: 4vw;
        width: 50px;
        height: 50px;
    }

    .fremlogo {
        width: 160%;
    }
    .navbar-collapse {
        position: relative;
        top: -0.2vw;
        background-color: transparent;
        font-size: calc(0.1em + 2vw);
        left: -36vw;
        margin: -2vw;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .scrollup {
        bottom: -20px;
        right: -10px;
        margin: 4vw;
        width: 50px;
        height: 50px;
    }
    .fremlogo {
        width: 155%;
    }

    .navbar-collapse {
        position: relative;
        top: -0.2vw;
        background-color: transparent;
        font-size: calc(0.1em + 2vw);
        left: -38vw;
        margin: -2vw;
    }
}

/*MEDIA QUERIES*/

/*
section {
    padding: 2em 0;
}
*/

/*
#intro {
    background-color: #8f1c25;
}
*/

/*
#sport {
    background-color: #96aaa1;
}
*/

/*
#hygge {
    background-color: #e43310;
}

#familie {
    background-color: #bfd252;
}
*/

.slogan {
    top: -600px;
    position: relative;
    background-color: rgba(226, 231, 236, 0.4);
}

.insta {
    cursor: pointer;
}



/* GÆT EN FILM CSS CLASSES */

.card {
    background-color: transparent;
}

.card-img-top {
    cursor: pointer;
}

.svar {
    display: none;
}

.svar_vis {

    display: block;
}

.svar2 {
    display: none;
}

.svar_vis2 {

    display: block;
}

.svar4 {
    display: none;
}

.svar_vis4 {

    display: block;
}

.svar5 {
    display: none;
}

.svar_vis5 {

    display: block;
}

.svar6 {
    display: none;
}

.svar_vis6 {

    display: block;
}

.svar7 {
    display: none;
}

.svar_vis7 {

    display: block;
}

.svar8 {
    display: none;
}

.svar_vis8 {

    display: block;
}
