/*Style.css - til dine custom styles*/

/*GENERAL SETTINGS*/

body {
    /*    #E2DDD2*/
    background-color: #E2DDD2;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all 200ms ease-in;
}

html {}

img {
    width: 100%;
}

.container-fluid {
    padding: 0;
    padding-right: 0px;
}

.row {
    margin: 0;
}

.scrollup {
    position: fixed;
    bottom: -9px;
    right: -1px;
    margin: 4vw;
    border: none;
    width: 30px;
    height: 30px;
    transition: all 200ms ease-in;
    opacity: 0.8;
    transform: scale(1);
    z-index: 1100;
}

.scrollup:hover {
    transition: all 200ms ease-in;
    opacity: 0.8;
    transform: scale(1.2);
}

.page-footer {
    font-size: calc(0.3em + 0.5vw);
}



/*GENERAL SETTINGS*/

/*FONTS*/

h1 {
    font-family: 'Lato', sans-serif;
    color: #5f5b55;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #5f5b55;

}

h3 {
    font-size: calc(0.8em + 1vw);
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #5f5b55;
}

h4 {
    font-family: 'Lato', sans-serif;
    color: #5f5b55;
}


p {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.5em + 1vw);
    color: #5f5b55;
}

.citater {
    font-family: 'Montserrat', sans-serif;
    color: #d30606;
    font-size: calc(1em + 1vw);
    font-weight: 700;
    font-style: oblique;
    opacity: 0.7;
    border-bottom-style: dotted;
    border-spacing: inherit;
    padding: 5px;
    justify-content: center;
    text-align: center;
}

/*FONTS*/

/*MEDIA QUERIES*/

.header {
    position: relative;
    min-height: 30px;
    z-index: 3;
}

.header::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -28px;
    z-index: 2;
    height: 42px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.bg-light {
    background-color: #E2DDD2!important;
}

.navbar {
    width: 100%;
    padding: 0px;
    background-color: #E2DDD2;

}

.navbanner {
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #E2DDD2;
}

.navbar-toggler {
    position: absolute;
    text-align: right;
    margin-top: 2.5vw;
    top: 0;
    right: 2.5vw;
    font-size: 1rem;
    font-size: calc(0.2em + 2vw);
    padding: 0.15rem 0.25rem;
}


.navbar-collapse {
    position: relative;
    top: 0vw;
    background-color: #E2DDD2;
}


.fremlogo {
    position: relative;
    width: 90%;
    opacity: 0.7;
    transform: scale(1);
    cursor: pointer;
    z-index: 10px;
}

.nav-link {
    position: relative;

    display: block;
}

.navbar-light .navbar-nav .nav-link {
    color: #878175;
    opacity: 0.9;
    transition: all 200ms ease-in;
    font-family: 'Lato', sans-serif;
    font-size: calc(0.5em + 1vw);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #5f5b55;
    opacity: 1;
    text-decoration: underline;
    transition: all 200ms ease-in;
}

.fremlogo:hover {
    transition: all 200ms ease-in;
    opacity: 1;
}

.fremkasser {
    position: relative;
    z-index: 10;
    width: 100%;
    left: -26vw;
    top: 2vw;

}

.animation {
    position: absolute;
    z-index: 20;
    width: 12%;
    left: 64vw;
    top: 2vw;

}

.sportbanner {
    z-index: 1;
}

.kamp {
    height: 100%;
    width: 100%;
    margin-top: -7vw;
}


/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .citater {
        font-size: calc(1.2em + 1vw);
    }
    .scrollup {
        bottom: -20px;
        right: -10px;
        margin: 4vw;
        width: 50px;
        height: 50px;
    }


    .page-footer {
        font-size: calc(0.3em + 1vw);
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: calc(0.6em + 1vw);
    }
    .navbar-toggler {
        margin-top: 2.8vw;
        top: 0;
        right: 2.5vw;
        font-size: calc(0.4em + 2vw);
    }

    .navbar-collapse {
        position: relative;
        top: -1vw;
        background-color: #E2DDD2;
        transform: scale(1);
    }

    .fremlogo {
        width: 100%;
    }
    .fremkasser {
        width: 100%;
        left: -35vw;
        top: 2vw;
    }

    .animation {
        width: 13%;
        left: 55vw;
        top: 2vw;
    }
    .kamp {
        margin-top: -8.8vw;
    }
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {

    p {
        font-size: calc(0.5em + 1vw);
    }
    .citater {
        font-size: calc(1.4em + 1vw);
    }
    .scrollup {
        bottom: -20px;
        right: -10px;
        margin: 4vw;
        width: 50px;
        height: 50px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: calc(0.6em + 1vw);
    }
    .navbar-toggler {
        margin-top: 2.8vw;
        top: 0;
        right: 2.5vw;
        font-size: calc(0.4em + 2vw);

    }
    .fremkasser {
        width: 185%;
        left: -25vw;
        top: 2vw;
    }

    .animation {
        width: 24%;
        left: 54vw;
        top: 2vw;
    }
    .kamp {
        margin-top: -8.8vw;
    }
}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {

    p {
        font-size: calc(0.5em + 1vw);
    }
    .citater {
        font-size: calc(1.6em + 1vw);
    }
    .scrollup {
        bottom: -20px;
        right: -10px;
        margin: 4vw;
        width: 50px;
        height: 50px;
    }

    .fremlogo {
        width: 160%;
    }
    .navbar-collapse {
        position: relative;
        top: -0.2vw;
        background-color: transparent;
        font-size: calc(0.1em + 2vw);
        left: -40vw;
        margin: -2vw;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #878175;
        opacity: 0.9;
        text-decoration: underline;
        transition: all 200ms ease-in;
        font-family: 'Lato', sans-serif;
        font-size: calc(0.6em + 1vw);
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: #5f5b55;
        opacity: 1;
        text-decoration: overline;
        transition: all 200ms ease-in;
    }
    .fremkasser {
        width: 100%;
        left: -5vw;
        top: 2vw;
    }

    .animation {
        width: 12%;
        left: 40vw;
        top: 2vw;
    }
    .kamp {
        margin-top: -8vw;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    p {
        font-size: calc(0.4em + 1vw);
    }
    .citater {
        font-size: calc(1.6em + 1vw);
    }
    .scrollup {
        bottom: -20px;
        right: -10px;
        margin: 4vw;
        width: 50px;
        height: 50px;
    }
    .fremlogo {
        width: 155%;
    }

    .navbar-collapse {
        position: relative;
        top: -0.2vw;
        background-color: transparent;
        font-size: calc(0.1em + 2vw);
        left: -41vw;
        margin: -2vw;

    }
    .kamp {
        margin-top: -7vw;
    }
}

/*MEDIA QUERIES*/

/*
section {
    padding: 2em 0;
}
*/

/*
#intro {
    background-color: #8f1c25;
}
*/

/*
#sport {
    background-color: #96aaa1;
}
*/

/*
#hygge {
    background-color: #e43310;
}

#familie {
    background-color: #bfd252;
}
*/

.slogan {
    top: -600px;
    position: relative;
    background-color: rgba(226, 231, 236, 0.4);
}

.insta {
    cursor: pointer;
}



/* GÆT EN FILM CSS CLASSES */

.card {
    background-color: transparent;
}

.card-img-top {
    cursor: pointer;
}

.svar {
    display: none;
}

.svar_vis {

    display: block;
}

.svar2 {
    display: none;
}

.svar_vis2 {

    display: block;
}

.svar4 {
    display: none;
}

.svar_vis4 {

    display: block;
}

.svar5 {
    display: none;
}

.svar_vis5 {

    display: block;
}

.svar6 {
    display: none;
}

.svar_vis6 {

    display: block;
}

.svar7 {
    display: none;
}

.svar_vis7 {

    display: block;
}

.svar8 {
    display: none;
}

.svar_vis8 {

    display: block;
}
